body {
  background-color: #d9d9d9;
  margin: 0;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
}

body,
html {
  width: 100%;
  height: 100%;
}

.imgs-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 16px;
  margin: auto;
  margin-block: 16px;
}

.card {
  background-color: white;
  border: solid 2px #aaa;
  border-radius: 8px;
  width: 400px;
}

.card-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.title {
  margin: 0;
  font-size: initial;
  font-size: 22px;
}

.description {
  margin: 0;
}

.button {
  border: none;
  background-color: #a225c9;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .imgs-container {
    flex-direction: row;
  }
}
